html,
body {
    min-height: 100vh;
    padding: 0;
    margin: 0;
    background: #000046;
    background: -webkit-linear-gradient(bottom right, #1CB5E0, #1c1c54);
}

main{
  margin-top: 15vh;
}
h1,h2,h3,label,th {
  color: #fefefe!important;
  font-weight: 600!important;
}

p{
  color: #fefefe!important;
  font-weight: 400!important;
}
a{
  font-weight: 800!important;
}
a:hover{
  text-decoration: none!important;
}

#connection-status {
    height: 35px;
    width: 35px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    padding: 0;
    margin: 20px;
    display: block;
    border: 1px solid #fefefe;
}

#connection-status.connected {
    background-color: green;
}

#connection-status.disconnected {
    background-color: red;
}

form button {
    margin: 1em 0;
}

form label {
    font-size: 1.5em;
    margin: 1em 0 0;
}

div#not-found a {
    display: block;
    clear: both;
}

div#not-found a,
form a {
    position: relative;
    left: 15px;
    top: 10px;
    padding-left: 20px;
}

#questions{
  padding-left: 15px;
}
#questions>div>span {
    padding: 1em;
    margin: .5em;
    display: block;
    cursor: pointer;
    border: 2px solid #333;
    border-radius: .5em;
    font-weight: 800;
    transition: all 1s ease-in-out;
    background-color: #fefefe;
}

#questions>div>span:hover {
    background-color: #e1e1e1;
}

#currentQuestion button {
    margin: 2px 0;
    cursor: pointer;
}

#currentQuestion button:hover {
    opacity: 0.9;
}

